
<ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
  <p class="loading">Loading data... Chờ chút nhé...</p>
</ngx-spinner>
<div class="row">
  <div class="col-md-12 mb-2">
    <button type="button" class="btn btn-secondary mr-2" (click)='showModal()'>Import Excel</button>
    <button type="button" class="btn btn-secondary mr-2" data-toggle="tooltip" data-placement="bottom" title="Chức năng này sẽ cập nhật dữ liệu cột test date" data-toggle="tooltip" data-placement="top" title="Tooltip on top" (click)='showModal2()'>Import Excel 2</button>
    <button type="button" class="btn btn-secondary" [disabled]='disable' (click)='printData()'>
      <span *ngIf="loading == 0" class="spinner-border spinner-border-sm text-danger" role="status" aria-hidden="true"></span>
      <span *ngIf="loading == 0">Loading... Chờ chút nhé... </span>
      <span *ngIf="loading == 1 || loading == 2"> Print Out Qr Code ( {{selectedData.length}} {{selectedData.length > 1 ? "staffs" : "staff"}} )</span>
    </button>
    <span class="text-danger">Vui lòng chỉ in tối đa 150 dòng dữ liệu. Lý do: Hệ thống sẽ bị quá tải khi in nhiều bản cùng lúc! </span>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowPaging]='true'
          [allowResizing]='true'
          [showColumnMenu]='true'
          [allowSelection]="true"
          [enableHover]="false"
          [allowSorting]='true'
          [allowExcelExport]='true'
          [toolbar]='toolbarOptions'
          [selectionSettings]="selectOptions"
          [pageSettings]="pageSettings"
          gridLines='Both'
          [editSettings]='editSettings'
          (checkBoxChange)='checkBoxChange($event)'
          (toolbarClick)='toolbarClick($event)'
          (actionBegin)="actionBegin($event)"
          (rowSelected)='rowSelected($event)'        >
          <e-columns>
            <e-column type='checkbox' width='30'></e-column>
            <e-column field="id" textAlign='Center' [visible]="false" isPrimaryKey="true" headerText="{{ 'ID'}}"> </e-column>
            <e-column field="factoryName" textAlign='Center' [width]="120" headerText="{{ 'Factory'}}"> </e-column>
            <e-column field="code" textAlign='Center' [width]="100" headerText="{{ 'Code'}}"> </e-column>
            <e-column field="department" textAlign='Center' [width]="120" headerText="{{ 'Department'}}"> </e-column>
            <e-column field="fullName" textAlign='Left' headerTextAlign='Center' headerText="{{ 'FullName'}}"> </e-column>
            <e-column field="gender" textAlign='Center' [width]="120" headerText="{{ 'Gender'}}">
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist [(ngModel)]='gender' placeholder='Select gender' [dataSource]='genderData'></ejs-dropdownlist>
              </ng-template>
            </e-column>
            <e-column field="birthDate" textAlign='Center' [width]="120" editType='datepickeredit' headerText="{{ 'Birth Date'}}"> </e-column>
            <e-column field="seaInform" textAlign='Center' headerText="{{ 'SEA Inform'}}">
              <ng-template #template let-data>
                <ejs-switch [checked]="data.seaInform" (change)='onChange($event, data)'></ejs-switch>
              </ng-template>
              <ng-template #editTemplate let-data>
                <ejs-switch [checked]="seaInform" [(ngModel)]='seaInform'></ejs-switch>
              </ng-template>
            </e-column>
            <e-column field="isPrint" textAlign='Center' headerText="{{ 'Print: ON/OFF'}}">
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist [(ngModel)]='isPrint' placeholder='Select print' [dataSource]='isPrintData'></ejs-dropdownlist>
              </ng-template>
            </e-column>

            <e-column field="kind" textAlign='Center' headerText="{{ 'Kind'}}">
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist [(ngModel)]='settingId' [fields]='settingFields' placeholder='Select a kind' [dataSource]='settingData'></ejs-dropdownlist>
              </ng-template>
            </e-column>
            <e-column field="testDate" textAlign='Center' [width]="120"  headerText="{{ 'Test Date'}}"> </e-column>

          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

  <div class="col-md-12">
    <table class="table table-hover" id="qrcode" height='450' width='200' style="position: absolute; left: 999999999999px;">
      <tbody>
        <ng-container *ngFor="let item of selectedData">
          <tr *ngIf="selectedData.length > 0">
            <td class="text-center">
                <ejs-qrcodegenerator [id]='item.code' style="display: block;" [displayText]='displayTextMethod'
                  width="120px" height="160px" mode="SVG"
                  value="{{item.code}}"></ejs-qrcodegenerator>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> Import Excel
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="file">
            Select File (*Notice: Excel file must be followed a system template. If you do not have a
            template, please <a [href]="excelDownloadUrl" style="font-weight: bolder;">click here</a> to download. Thank you!)

          </label>
          <input (change)="fileProgress($event)" name="file" id='file' type="file" class="form-control" />
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload File</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>

<ng-template #import2Modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> Import Excel 2
    </h4>
    <button type="button" class="close" aria-label="Close" *ngIf="showClose" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="file2">Select File (*Notice: Excel file must be followed a system template. If you do not have a template, please <a [href]="excel2DownloadUrl" style="font-weight: bolder;">click here</a> to download excel template without system data
            or <a  style="font-weight: bolder;" [href]="excel3DownloadUrl" >click here</a> to download excel file with system data. Thank you!)

          </label>
          <input (change)="fileProgress2($event)" name="file" id="file2" type="file" class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="progress form-group" *ngIf="progress > 0" style="height:30px; font-size:20px">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress" >
            Chờ chút nhé. Hệ thống đang xử lý dữ liệu...
          </div>
      </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="submitUser()">Upload File</button>
    <button type="button" class="btn btn-danger" *ngIf="showClose" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
