<div class="row">
  <div class="col-md-12 mb-2 d-flex justify-content-start align-items-center">

    <div class="font-weight-bold px-3">{{'Start Time' | translate}}:</div>
    <ejs-datepicker class="pr-3" (change)='startDateOnchange($event)' [(ngModel)]="startDate"></ejs-datepicker>

    <div class="font-weight-bold pr-3">{{'End Time' | translate}}:</div>
    <ejs-datepicker class="pr-3" (change)='endDateOnchange($event)' [(ngModel)]="endDate"></ejs-datepicker>

    <button type="button" class="btn btn-secondary mr-2" >Export Excel</button>

  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowPaging]='true'
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          [pageSettings]='pageSettings'
          [allowExcelExport]='true'
        >
          <e-columns>
            <e-column field="fullName" textAlign='Center' headerText="{{ 'FullName'}}"> </e-column>
            <e-column field="code" textAlign='Center' headerText="{{ 'Code'}}"> </e-column>
            <e-column field="testKind" textAlign='Center' headerText="{{ 'Test Kind'}}"> </e-column>
            <e-column field="result" textAlign='Center' headerText="{{ 'Rapid-Test result'}}"> </e-column>
            <e-column field="rapidTestTime" textAlign='Center' headerText="{{ 'Rapid-Test date'}}"> </e-column>
            <e-column field="expiryTime" textAlign='Center' headerText="{{ 'Enter factory exp. date'}}"> </e-column>
            <e-column field="factoryEntryTime" textAlign='Center' headerText="{{ 'Enter factory exp. date'}}"> </e-column>

          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
