<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form class="w3-container w3-card-4  w3-text-black ">
          <h1 class="w3-center my-3">
            Đăng ký xét nghiệm - Check In
          </h1>

          <h5 class="w3-center mb-3"> Loại xét nghiệm - Rapid Test Kind  </h5>
          <div class="d-flex justify-content-center">
            <ul style="padding: 0; margin: 0; list-style: none;">
              <li *ngFor="let item of testKindData">
                <input type="radio" [id]="item.id" (ngModelChange)="success = 0" [(ngModel)]="kindId" [value]="item.id" name="kindId">
                <label [for]="item.id">{{ item.name == "Rapid Test" ? "Chuẩn đoán nhanh - " + item.name : item.name }}</label>
              </li>

            </ul>
        </div>

          <div class="w3-row w3-section" style="margin-top: 0px!important">
            <div class="w3-col" style="width:auto">
              <img src="../../../../assets/img/gif/scan.gif" style="width:150px" alt="">
            <span class="badge badge-pill badge-danger" style="margin-right: 40px;font-size: 20px;width: 70px;">{{total}}</span>

            </div>
            <div class="w3-rest" style="margin-top: 16px;">
              <input [ngClass]="test" name="qrcode" class="my-form-control" autocomplete="off" autoselect [ngModel]="QRCode"
                (ngModelChange)='onNgModelChangeScanQRCode($event)' type="text">
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-body d-flex justify-content-center">

    <div class="card" style="width: 60%;" *ngIf="success == 200">
      <div class="card-body bg-success" *ngIf="!switchColor">
       <h2>HỌ TÊN: {{fullName}}</h2>
       <h2>SỐ THẺ: {{QRCode}}</h2>
       <h2>Arrive & Recorded successfully</h2>
       <h2>Cho phép vào! </h2>
       <div [innerHTML]="message"></div>
      </div>
      <div class="card-body bg-info" *ngIf="switchColor">
        <h2>HỌ TÊN: {{fullName}}</h2>
        <h2>SỐ THẺ: {{QRCode}}</h2>
        <h2>Arrive & Recorded successfully</h2>
        <h2>Cho phép vào! </h2>
        <div [innerHTML]="message"></div>
       </div>
    </div>
    <div class="card" style="width: 60%;" *ngIf="success == 403">
      <div class="card-body bg-danger">
        <div [innerHTML]="message"></div>
      </div>
    </div>
    <div class="card" style="width: 60%;" *ngIf="success == 404">
      <div class="card-body bg-danger">
       <h2>Not found this person. No entry. <br>Please establish data in Staff info page ! </h2>
       <h2>Không tìm thấy anh/chị trong hệ thống! Không được vào! </h2>
      </div>
    </div>

    <div class="card" style="width: 60%;" *ngIf="success == 400">
      <div class="card-body bg-danger">
       <h2>No entry. <br>Please wait for SEA inform ! </h2>
       <h2>Không được vào! Vui lòng kiểm tra thông tin từ SEA </h2>
      </div>
    </div>

    <div class="card" style="width: 60%;" *ngIf="success == 500">
      <div class="card-body bg-danger">
       <h2>Lỗi mạng , vui lòng scan lại!<br>Internet error , please scan a again !</h2>
      </div>
    </div>

  </div>
</div>

