<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form class="w3-container w3-card-4  w3-text-black ">
          <h1 class="w3-center my-3">Check Out</h1>
      <div class="d-flex justify-content-center">

        <div style="margin-right: 100px;">
          <h5 class="w3-center">Rapid Test Kind </h5>
          <div class="d-flex justify-content-center">

            <ul style="padding: 0; list-style: none; margin-right: 20px;">
              <li *ngFor="let item of testKindData">
                <input type="radio" [id]="item.id" [(ngModel)]="kindId" [value]="item.id" name="kindId">
                <label [for]="item.id">{{item.name}}</label>
              </li>

            </ul>

        </div>
        </div>
        <div class="">
          <h5 class="w3-center">Result </h5>
          <div class="d-flex justify-content-center">

            <ul style="padding: 0; list-style: none; margin-right: 20px;">
              <li >
                <input type="radio" id="Negative" [(ngModel)]="result" [value]="2" name="result">
                <label for="Negative">Negative</label>
              </li>
              <li >
                <input type="radio" id="Positive" [(ngModel)]="result" [value]="1" name="result">
                <label for="Positive">Positive</label>
              </li>

            </ul>

        </div>
        </div>
      </div>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:100px">
              <img src="../../../../assets/img/gif/1981.gif" height="40px" width="80%" alt="">
            </div>
            <div class="w3-rest">
              <!-- [autofocusSearch]="true" -->
              <input [ngClass]="test" name="qrcode" autocomplete="off" autoselect [ngModel]="QRCode"
                (ngModelChange)='onNgModelChangeScanQRCode($event)' type="text">
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-body d-flex justify-content-center">

    <div class="card" style="width: 60%;" *ngIf="success == 200">
      <div class="card-body bg-success">
       <h2>HỌ TÊN: {{fullName}}</h2>
       <h2>SỐ THẺ: {{QRCode}}</h2>
       <h2>{{message}}</h2>
      </div>
    </div>

    <div class="card" style="width: 60%;" *ngIf="success == 400">
      <div class="card-body bg-danger">
       <h2>Please check in first!</h2>
      </div>
    </div>

    <div class="card" style="width: 60%;" *ngIf="success == 404">
      <div class="card-body bg-danger">
       <h2>Not found this person. No entry. <br>Please establish data in Staff info page ! </h2>
      </div>
    </div>
  </div>

</div>
